<%- include("partials/header") -%>

<div class="aboutText">
  <h2>ABOUT US?</h2>

  <p>Nigga fuck off, we are WEED!!!</p>

</div>

<img src="images/About.jpg" width="100%" height="500px" style="object-fit: cover;" alt="">

<p class="aboutText">There's nothing about us that's much of a mystery. We will get you high and fucked up and leave you with memories that'd make you laugh.</p>





<%- include("partials/footer") -%>
