<%- include("partials/header") -%>



<center>
  <div class="topHeader">
    <br>
    <h1>ASH BEFORE YOU PASS</h1>
    <p class="text-muted">-A 4 minute read-</p>
  </div>
</center>

<article class="content">
  <p class="firstP">
    This is the first rule of smoking with a gang. Now, who the fuck wants weed on their shirts or worse, weed burns on their expensive wears. We don't want to deprive anyone the chance at a hit. So, we would take a quick puff, and neurotically, instantly, before we even had a chance to exhale, pass the joint to the next person. Relax. We don’t have to be so uptight about it any more! Take a couple of puffs. Inhale. Exhale. Savor it. Find the ash tray. Ash the blunt then you pass it along. Just don’t bogart.
  </p>
  <br>
  <img src="images/ash.jpg" alt="" width="100%" height= "500px" style="object-fit: contain;">
  <br>
</article>







<%- include("partials/footer") -%>
