<%- include("partials/header") -%>



<center>
  <div class="topHeader">
    <br>
    <h1>10 FUNNY HIGH STORIES</h1>
    <p class="text-muted">-A 4 minute read-</p>
  </div>
</center>

<article class="content">
  <p class="firstP">
    We collected a few "that high" stories from stoners. Check 'em out below.
  </p>
  <br>
  <ol>
    <li><p>One time, I turned down my TV cause I couldn't taste the macaroni. That high.</p></li>
    <li><p>I had to search my room for the lighter for over 20mins. The lights were off and I was searching with my lighter.</p></li>
    <li><p>Tried to watch a new series with my 2 closest friends. After about an hour, someone entered the room and asked why we were watching a movie on mute. We totally didn't notice</p></li>
    <li><p>Smoked at my grandparents farm. Was scared to smell like weed so I grabbed a baby goat and rubbed him all over myself. Then proceeded to tell the goat that he's a nice guy and I would get him some coffee next time.</p></li>
    <li><p>Found a boomerang so I went outsde and threw it. Stared for about 20 mins at where it landed then walked up to it and it was a potato.</p></li>
    <li><p>I cried because I realized that snakes are just tails with faces.</p></li>
    <li><p>We were so high that we made a 14 page powerpoint slide on why Santa would beat Peter Pan.</p></li>
    <li><p>Laughed at a fly buzzing around for half an hour because I thought it sounded like a mini fart and that's what was propelling him into the air.</p></li>
    <li><p>Felt bad my cat didn't have a mom so I licked her head like her mom would've done. She purred the whole time.</p></li>
    <li><p>Any time I drive when high and I notice a car behind me, I try to lose them by turning a shit load of times. When I was driving a box truck a car started following me so I tried to lose it. The damn thing kept following me so I went into a culdesac with this big tree in the middle. When I went around, the car that was chassing me stopped and was blocking the road. My friend came out of his car and yelled "That was fucking crazy!!!" and I remembered he was following me home.</p></li>
  </ol>
  <br>
</article>







<%- include("partials/footer") -%>
